* {
  padding: 0.5em;
  background-color: rgb(210, 212, 212);
}
body {
  background-color: white;
  max-width: 600px;
  width: calc(100% - 300px);
  margin: 0 auto;
}
h1 {
  background-color:rgb(156, 165, 156);
  color: rgb(55, 54, 54);
  font-size: 20px;
}
#now_datetime {
  color: rgb(55, 54, 54);
  font-size: 30px;
}
#register_button {
  background-color:rgb(156, 165, 156);
  color:rgb(55, 54, 54) ;
  font-weight:bold;
  font-size: 20px;
  text-align: center;
  border: 2px solid rgb(3, 47, 3);
}
#prev {
  background-color: rgb(222, 222, 222);
  height: 150px;
}
#history {
  background-color: rgb(222, 222, 222);
  height: 150px;
}
#history_button {
  background-color:rgb(156, 165, 156);
  color:rgb(55, 54, 54) ;
  font-weight:bold;
  font-size: 20px;
  text-align: center;
  border: 2px solid rgb(3, 47, 3);
}
